<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Scanner votre code barre ! :)</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Scanner</h3>
  <ion-card>
    <ion-item>
      <button
        ion-button
        full
        large
        (click)="scan(champ)"
        color="secondary"
        >Scanner</button>
    </ion-item>
  </ion-card>
    <ion-card>
      <ion-item>
        Titre <input type="text" [(ngModel)]="title" >
      </ion-item>
      <ion-item>
      Description <input type="text" [(ngModel)]="description" >
      </ion-item>
      <ion-item>
      <button
        ion-button
        left
        (click)="addTag(title, description)"
        >Ajouter tag</button>
      </ion-item>
    </ion-card>

  <!-- <div class="" *ngFor="let item of tabTag">
    <qrcode [qrdata]='item.firebaseId' [size]="256" [level]="'M'"></qrcode>
  </div> -->
  <!-- <ion-list>
    {{tabTag | json}}
    <ion-item  *ngFor="let item of tabTag" >

      <qrcode [qrdata]='123' [size]="256" [level]="'M'"></qrcode>
      <ion-label>{{item.title}} : {{item.firebaseId}}</ion-label>

    </ion-item>
  </ion-list> -->

  <ion-card *ngFor="let item of tabTag" (click)="scan(item.firebaseId)">
  <qrcode [qrdata]='item.firebaseId' [size]="256" [level]="'M'"></qrcode>
  <ion-card-content>
    <ion-card-title>
      {{item.title}}
      </ion-card-title>
    <p>
      {{item.description}}
    </p>
  </ion-card-content>
</ion-card>


</ion-content>
